/* home sectio start */
main{
    margin: auto;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.container .navbar-brand:hover{
    transform: rotate('360deg');
    transition-duration: 1.5s;
}
.btn:hover{
background-color: rgb(0, 255, 255);
}
.nav-item a:hover{
   border-bottom: 2px solid goldenrod;
    transition: all 1.2s ease;
}
.navbar-nav .nav-item a:hover{
    color: goldenrod;
}
.navbar-brand img:hover{
    transform: rotateX('360deg');
    transition-duration: 1.5s;
}
.hire-me{
    background-color: white;
    color: #6d1d5c;
    font-weight: bold;
}
.h-sec{
    background-color: #310230;
}
.home-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.ab-sec{
    background-color: #571549;
}
.menu{
    background-color: #6e1680;
    color: white;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about-body{
    margin-top: auto;
    margin-bottom: auto;
}
.home-page{
    margin-top: 200px;
}
/* home section end */
/* services section start */
.services-sec{
    background-color: rgb(211, 128, 167);
}
.works{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.container-work{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
}
.boxes{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.box{
    width: 260px;
    height: 440px;
   text-align: center;
}
.box.one{
    background-color: rgb(77, 245, 245);
    z-index: 1;
    color: black;
   
}
.box.one img{
    width: 260px;
    height: 150px;
}
.box.one a{
    text-decoration: none;
    color: white;
    background: #e92f16;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.box.one a:hover{
    background: white;
    color: black;
    border: 1px solid #1ebae9;
}
.box.two{
    position: absolute;
    background-color: rgb(255, 153, 0);
    z-index: 0;
    transition: transform 1s;
}
.box.one:hover + .box.two{
    transform: rotate(5deg);
}
.inner{
    width: 300px;
    height: 400px; 
    background-color: #984cd6;

}
.inner a{
    text-decoration: none;
    color: #ffffff;
}
/* services section end */
/* skills section start */
.skill-sec{
    background-color: rgb(211, 128, 167);
}
.container-skills{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills h3{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: black;
    font-size: 36px;
}
.progress-bar{
    width: 1000px;
    height: 50px;
    border-radius: 5px;
}
.progress-bar div{
    height: 17px;
    border-radius: 5px;
    width: 0%;
}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ffffff;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-design{
    background: #fd0681e1;
    animation: web-design 1s linear forwards;
}
.graphics{
    background: #a803f5;
    animation: graphics 1s linear forwards;
}
.photography{
    background: #00fff2;
    animation: photography 1s linear forwards;
}
.audio-editing{
    background: #1ee979;
    animation: audio-editing 1s linear forwards;
}
.video-editing{
    background: #fc7100;
    animation: video-editing 1s linear forwards;
}
.animation{
    background: #09c4b4;
    animation: animation 1s linear forwards;
}
.web-design span{
    border: 1px solid #fd0681e1;
}
.graphics span{
    border: 1px solid #a803f5;
}
.photography span{
    border: 1px solid #00fff2;
}
.audio-editing span{
    border: 1px solid #1ee979;
}
.animation span{
    border: 1px solid  #09c4b4;
}
.video-editing span{
    border: 1px solid #fc7100;
}
@keyframes web-design{
    100%{
        width: 96%;
    }
}
@keyframes graphics{
    100%{
        width: 90%;
    }
}
@keyframes photography{
    100%{
        width: 95%;
    }
}
@keyframes audio-editing{
    100%{
        width: 88%;
    }
}
@keyframes animation{
    100%{
        width: 92%;
    }
}
@keyframes video-editing{
    100%{
        width: 95%;
    }
}
/* skills section end */
/* sample section start */
.samp-sec{
    background-color: rgb(211, 128, 167);
}
.works .card:hover{
    border: 1px solid goldenrod;
}

/* portfolio section start */
.port-sec{
    background-color: rgb(211, 128, 167);
}
.picture{
    overflow: hidden;
}
.picture img:hover{
    transform: scale(1.2);
}
.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}
.images img{
    width: 25vw;
    height: 20vw;
    transition: all 1.4s ease;
    cursor: pointer;
}
.picture{
    margin: 10px 50px;
}

/* portfolio section end */
/* accordion section start */
.question{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.accordion-item{
    margin: 10px;
}
.ques-ans{
    background-color: rgb(211, 128, 167);
}
/* footer section start */
.footer{
    background: #5b0d6b;
}
.footer .footer-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.footer .footer-item .personal-info{
    margin-left: 30px;
}
.footer .footer-item .footer-link a{
    display: block;
    text-decoration: none;
    color: white;
}
.footer .footer-item .privacy a{
text-decoration: none;
color: white;
display: block;
}
.footer .footer-item .privacy a:hover{
text-decoration: underline;
color: goldenrod;
}
.footer .footer-item .contact p{
    color: #ffffff;
}
.footer .footer-item .contact img{
    width: 3vw;
}
.footer .footer-item .contact .instagram{
    width: 2vw;
}
.footer .footer-item .copyright{
    text-align: center;
    margin-left: 50%;
}
/* media query for mobile */
@media screen and (max-width:767px){
    .navbar .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    .home-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
   .home-page{
        width: 100%;
        text-align: center;
        margin-left: 5px;
        margin-top: 52px;
    }
    .home-page button{
        padding: 6px;
        margin-bottom: 16px;
    }
    .home-section img{
        width: 45vw;
    }
    .about{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .about img{
        width: 50vw;
        margin-left: 85px;
    }
    .about .about-body{
        width: 100%;
        text-align: center;
        padding: 0 50px;
    }
    .about .about-body a{
        font-size: 10px;
        padding: 5px;
    }
    .works{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .works .card{
        margin: auto;
    }
    .images{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .images img{
        width: 100%;
        height: 70vw;
        justify-content: center;
        align-items: center;
        transition: all 1.4s ease;
    }
    .container-work{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container-skills{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 100%;
        height: fit-content;
        margin-top: 30px;
    }
    .skills{
        width: 100%;
        text-align: center;
    }
    .container-skills .skills .progress-bar{
        width: 100%;
        text-align: center;
    }
    .footer .footer-item{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .footer .footer-item .personal-info{
        text-align: center;
        margin: 0;
    }
    .footer .footer-item .footer-link{
       text-align: center;
    }
    .footer .footer-item .privacy{
        text-align: center;
    }
    .footer .footer-item .contact{
        text-align: center;
    }
}
@media screen and (min-width: 768px) and (max-width:992px){
    .navbar .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    .home-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
   .home-page{
        width: 100%;
        text-align: center;
        margin-left: 5px;
        margin-top: 150px;
    }
    .home-section img{
        width: 45vw;
    }
    .about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
    .about img{
        width: 50vw;
        margin-left: 85px;
    }
    .about .about-body{
        width: 100%;
        text-align: center;
        padding: 0 50px;
    }
    .about .about-body a{
        font-size: 10px;
        padding: 5px;
    } 
    .container-skills{
        width: 100%;
        align-items: center;
    }
    .works{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        width: 100%;
    }
    .works .card{
        margin: auto;
    }
    .images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .images img{
        width: 100%;
        height: 50vw;
        justify-content: center;
        align-items: center;
        transition: all 1.4s ease;
        margin-left: 0;
    }
    .container-work{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container-skills{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 100%;
        height: fit-content;
        margin-top: 30px;
        align-items: center;
    }
    .skills{
        width: 100%;
        text-align: center;
    }
    .container-skills .skills .progress-bar{
        width: 100%;
        text-align: center;
    }
    .footer .footer-item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .footer .footer-item .personal-info{
        text-align: center;
        margin: 0;
    }
    .footer .footer-item .footer-link{
       text-align: center;
    }
    .footer .footer-item .privacy{
        text-align: center;
    }
    .footer .footer-item .contact{
        text-align: center;
    }
}